.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: url('../src/component/b7c3969bae0da14eddc2bea1d5c56992.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-flat {
  background-color: purple;
  color: white;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem; 
  align-content: center;

}

.form {
  background-color: rgba(0, 0, 0,0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 50%;
  height: 100%;
  border: black solid 2px;
  font-size: 1rem;
}

.formbox {
  width: 80%;
  height: 50%;
  
}
.signin {
 flex-direction: column;
  align-items: center;
}

#btn {
  display: flex;
  justify-content: center;
}

